* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utility class */
.container {
  width: 1080px;
  margin: auto;
}
.clear::after {
  content: "";
  display: table;
  clear: both;
}
.fl {
  float: left;
}
.block {
  display: block;
}
.inline {
  display: inline-block;
}
.p_10_20 {
  padding: 10px 20px;
}
.p_20_40 {
  padding: 20px 40px;
}
.p_20 {
  padding: 20px;
}
.p_40 {
  padding: 40px 0;
}
.m_20 {
  margin: 20px 0;
}
.m_40 {
  margin: 40px 0;
}
.m_l_20 {
  margin-left: 20px;
}
.bc_pad {
  padding: 75px 120px;
}
.btn {
  color: white;
  background-color: #ff7a59;
  border-radius: 5px;
}
.btn_white {
  background-color: white;
  color: #ff7a59;
  border: 1px solid #ff7a59;
  border-radius: 5px;
}
.wt {
  color: white;
}
/* utility class */
body {
  font-family: 'Nunito', sans-serif;
}
a {
  color: #33475b;
  text-transform: capitalize;
  text-decoration: none;
}
h1 {
  font-size: 2.88em;
  font-weight: 700;
}
/* nav top section */
#nav_top {
  width: 100%;
  font-size: 12px;
  border-bottom: 1px solid black;
}
#nav_top_group_left, #nav_top_group_right {
  width: 50%;
  height: 52px;
  line-height: 52px;
}
#nav_top_group_right{
  text-align: right;
}

/* /nav top section */

/* nav menu section */
#nav_menu_inner {
  line-height: 80px;
}
#nav_menu_img {
  width: 50%;
}
#nav_menu_right {
  width: 50%;
  text-align: right;
}
#logo_header {
  vertical-align: middle;
}
/* /nav menu section */

/* hero section */
#hero_section {
  height: 775px;
  background-image: url('../img/jumbotron.png');
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
#hero_inner {
  height: 100%;
}
#hero_text {
  width: 40%;
  padding-top: 65px;
}
p.motto {
  font-size: 1.125em;
  font-weight: 400;
}
p.get_start {
  font-size: 0.8em;
  font-weight: 400;
}
#hero_text a.btn.p_20 {
  display: inline-block;
}
/* /hero section */

/* services section */
#services {
  padding-top: 50px;
  background-color: #f5f8fa;
}
#services_text {
  width: 850px;
  margin: auto;
  text-align: center;
}
#services_text a {
  display: inline-block;
}
/* big card */
.big_card {
  width: 100%;
  height: 375px;
  background-color: white;
  border-radius: 5px;
}
.big_card_img {
  position: relative;
  width: 30%;
  height: 100%;
}
.big_card_text {
  position: relative;
  width: 70%;
  height: 100%;
}
.big_card_text_container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 90px;
}
.big_card_text_container ul li{
  margin: 0 20px;
  list-style-image: url('../img/check.png');
  float: left;
}
.big_card_img_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: middle;
}
.upper_title {
  text-transform: uppercase;
  font-weight: bold;
}
.hr_big_card {
  display: inline-block;
  width: 65%;
  margin-left: 44px;

}
/* /big card */

/* row card section */
.card_container {
  width: 30%;
  height: 635px;
}
.card_container.middle {
  margin: 0 5%;
}
.small_card {
  height: 100%;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}
.small_card_ul {
  margin-left: 25px;
  text-align: left;
}
.small_card_ul ul li {
  list-style-image: url('../img/check.png');
}
/* /row card section */

/* /services section */

/* statistics section */
#statistics {
  width: 100%;
  height: 700px;
  background-image: linear-gradient(to bottom right, #00acb6, #00b6ad);
}
#statistics_container {
}
#statistics_text {
  width: 70%;
  margin: auto;
  text-align: center;
}
/* statistics grid */
.statistics_grid_col {
  width: 25%;
  height: 150px;
}
.statistics_grid_col {
  text-align: center;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}
.statistics_grid_col.final1 {
  border-right: none;
}
.statistics_grid_col.down {
  border-bottom: none;
  padding-top: 20px;
}
.grid_title {
  font-size: 35px;
  font-weight: bolder;
}
.Grid_number_container {
  display: inline-block;
  height: 25px;
  position: relative;
}
.plus_span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
/* /statistics grid */

/* /statistics section */
