* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utility class */
.container {
  width: 1080px;
  margin: auto;
}
.clear::after {
  content: "";
  display: table;
  clear: both;
}
.arrow::after {
 content: "\2304";
}
.sticky {
  position: sticky;
  top: 0;
}
.fl {
  float: left;
}
.block {
  display: block;
}
.inline {
  display: inline-block;
}
.p_10_15 {
  padding: 10px 15px;
}
.p_10_20 {
  padding: 10px 20px;
}
.p_20_40 {
  padding: 20px 40px;
}
.p_20 {
  padding: 20px;
}
.p_40 {
  padding: 40px 0;
}
.m_20 {
  margin: 20px 0;
}
.m_40 {
  margin: 40px 0;
}
.m_l_20 {
  margin-left: 20px;
}
.bc_pad {
  padding: 75px 120px;
}
.btn {
  color: white;
  background-color: #ff7a59;
  border-radius: 5px;
}
.btn_white {
  background-color: white;
  color: #ff7a59;
  border: 1px solid #ff7a59;
  border-radius: 5px;
}
.wt {
  color: white;
}
/* utility class */
body {
  font-family: 'Nunito', sans-serif;
  min-width:1400px;
}
a {
  color: #33475b;
  text-transform: capitalize;
  text-decoration: none;
}
h1 {
  font-size: 2.88em;
  font-weight: 700;
}
/* nav top section */
#nav_top {
  width: 100%;
  font-size: 12px;
  border-bottom: 1px solid black;
}
#nav_top_group_left, #nav_top_group_right {
  width: 50%;
  height: 52px;
  line-height: 52px;
}
#nav_top_group_right{
  text-align: right;
}

/* /nav top section */

/* nav menu section */
#nav_menu {
  background: white;
  z-index: 1000;
}
#nav_menu_inner {
  line-height: 80px;
}
#nav_menu_img {
  width: 50%;
}
#nav_menu_right {
  width: 50%;
  text-align: right;
}
#logo_header {
  vertical-align: middle;
}
/* /nav menu section */

/* hero section */
#hero_section {
  height: 775px;
  position: relative;
  background-image: url('../img/jumbotron.png');
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
#hero_inner {
  height: 100%;
}
#hero_text {
  width: 40%;
  padding-top: 65px;
}
p.motto {
  font-size: 1.125em;
  font-weight: 400;
}
p.get_start {
  font-size: 0.8em;
  font-weight: 400;
}
#hero_text a.btn.p_20 {
  display: inline-block;
}
/* /hero section */

/* services section */
#services {
  padding-top: 50px;
  background-color: #f5f8fa;
}
#services_text {
  width: 850px;
  margin: auto;
  text-align: center;
}
#services_text a {
  display: inline-block;
}
/* big card */
.big_card {
  width: 100%;
  height: 375px;
  background-color: white;
  border-radius: 5px;
}
.big_card_img {
  position: relative;
  width: 30%;
  height: 100%;
}
.big_card_text {
  position: relative;
  width: 70%;
  height: 100%;
}
.big_card_text_container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 90px;
}
.big_card_text_container ul li{
  margin: 0 20px;
  list-style-image: url('../img/check.png');
  float: left;
}
.big_card_img_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: middle;
}
.upper_title {
  text-transform: uppercase;
  font-weight: bold;
}
.hr_big_card {
  display: inline-block;
  width: 65%;
  margin-left: 44px;

}
/* /big card */

/* row card section */
.card_container {
  width: 30%;
  height: 635px;
}
.card_container.middle {
  margin: 0 5%;
}
.small_card {
  height: 100%;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}
.small_card_ul {
  margin-left: 25px;
  text-align: left;
}
.small_card_ul ul li {
  list-style-image: url('../img/check.png');
}
/* /row card section */

/* /services section */

/* statistics section */
#statistics {
  width: 100%;
  height: 700px;
  background-image: linear-gradient(to bottom right, #00acb6, #00b6ad);
}
#statistics_container {
}
#statistics_text {
  width: 70%;
  margin: auto;
  text-align: center;
}
/* statistics grid */
.statistics_grid_col {
  width: 25%;
  height: 150px;
}
.statistics_grid_col {
  position: relative;
  text-align: center;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}
.statistics_grid_col.final1 {
  border-right: none;
}
.statistics_grid_col.down {
  border-bottom: none;
}
.grid_title {
  font-size: 35px;
  font-weight: bolder;
}
.Grid_number_container {
  display: inline-block;
  height: 25px;
  position: relative;
}
.plus_span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.statistics_card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* /statistics grid */

/* /statistics section */

/* customers and partners section */
#customers_partners {
  width: 100%;
  height: 520px;
}
#customers_col {
  position: relative;
  width: 40%;
  height: 200px;
  text-align: center;
}
#customers_text_box {
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#logos_col {
  position: relative;
  width: 60%;
  height: 200px;
}
#logos_box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#logos_box img {
  width: 150px;
  line-height: 100px;
  vertical-align: middle;
  padding: 10px 15px;
}
#start_growing {
  height: 320px;
}
#start_growing_text, #start_growing_img {
  width: 50%;
  height: 100%;
}
#start_growing_text {
  position: relative;
}
#start_growing_text_box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#start_growing_text a {
  display: inline-block;
}
#start_growing_text_box p:last-child {
  font-size: 12px;
}
#start_growing_img img {
  height: 320px;
  float: right;
}
/* /customers and partners section */

/* footer section */
footer {
  width: 100%;
  background-color: #32495b;
  color: white;
}
footer a {
  color: #cbd6e2;
  margin: 0 15px;
  font-weight: 700;

}
#footer_list_box ul {
  width: 25%;
  float: left;
  list-style: none;
}
#footer_list_box ul li {
  font-weight: 700;
  padding: 5px 0;
}
#footer_list_box ul li a{
  margin-left: 0;
}
#footer_list_box ul#last li:nth-child(7) a{
  display: inline-block;
  font-weight: 400;
  background: #dadee0;
  color: black;
  padding: 2px 10px;
  border: ipx solid white;
  border-radius: 3px;
}
#footer_list_box ul li:first-child {
  font-weight: 900;
  margin: 10px 0;
}

#last i {
  margin-right: 15px;
}
#footer_languages {
  text-align: center;
  margin: 40px 0 15px 0;
}
footer hr {
  background: #cbd6e2;
  height: 2px;
  border: none;
}
#footer_bottom {
  margin-top: 20px;
}
#footer_bottom_right, #footer_bottom_left {
  width: 50%;
}
#footer_bottom_right {
  text-align: right;
}
#footer_bottom p {
  color: white;
}
/* /footer section */
#metal {
  position: absolute;
  bottom: 10%;
  left: 87%;
  width: 70px;
  height: 96px;
  background-image: url('../img/1.png');
  background-size: cover;
  animation-name: pixel;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes pixel {
  0% {background-image: url('../img/1.png');}
  10% {background-image: url('../img/2.png');}
  20% {background-image: url('../img/3.png');}
  30% {background-image: url('../img/4.png');}
  40% {background-image: url('../img/5.png');}
  50% {background-image: url('../img/6.png');}
  60% {background-image: url('../img/7.png');}
  60% {background-image: url('../img/8.png');}
  70% {background-image: url('../img/9.png');}
  80% {background-image: url('../img/10.png');}
  90% {background-image: url('../img/11.png');}

}
